@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0;
  padding:0;
  border-sizing:border-box;
}
body,html{
  width:100%;
  height:100vh;
  scroll-behavior:smooth;
}
body{
  background:#04050F;
  font-family:"Poppins",sans-serif;
  color:#fff;
}
header{
  position:fixed;
  top:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  height:90px;
  z-index:10;
}
header h3{
  font-weight:bold;
  margin-left:20px;
  font-size:1.4rem;
}
header nav{
  display:flex;
  margin-right:20px;
}
header ul{
  display:flex;
  align-items:center;
  list-style:none;
  gap:20px;
}
a{
  color:#fff;
  text-decoration:none;
}
#hamb{
  display:none;
}
@media(max-width:900px){
  header{
    justify-content:space-between;
    background:#0D0D14;
  }
  /*Navegação pelo navbar-flex*/
  header ul{
    display:none;
    width:100%;
    text-align:center;
    z-index:200;
  }
  ul>li{
    padding:0px;
  }
  a{
    display:block;
    width:100%;
    height:40px;
    padding:10px;
  }
  a:hover{
    text-decoration:underline;
  }
  nav{
    display:none;
  }
  /*Estilização adicionada ao nav por js*/
  .addMenu{
    position:fixed;
    display:block;
    top:90px;
    left:0;
    width:100%;
    background:#0D0D14;
    z-index:10;
    border-radius:0px 0px 50% 50%;
    transition:.3s;
  }
  #hamb{
    position:absolute;
    right:20px;
    display:block;
    width:50px;
    
  }
  header h3{
    font-size:2.1rem;
  }
}
#ladding-page{
  display:flex;
  width:100%;
  height:50vh;
}
.flex{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:40vh;
}
.introdução article{
  position:relative;
  top:170px;
  left:70px;
}
.introdução article h1{
  font-size:3.5rem;
  margin-bottom:10px;
}
.introdução article p{
  color:#606272;
  font-size:2rem;
  margin-bottom:10px;
}
.introdução article .btn_contato{
  padding:13px;
  border:none;
  font-size:1rem;
  font-weight:bold;
  background:#42445A;
  color:#fff;
  margin-top:20px;
  border-radius:0px 20px 0px 20px;
  border:solid 2px black;
  
}
#sobre-mim,#projetos{
  flex-direction:column;
  text-align:center;
}
#sobre-mim {
  margin-top:200px;
}
.flex h2{
  font-size:2.5rem;
  font-weight:bold;
  margin-bottom:30px;
}
.flex > div{
  margin:0px;
}
.flex p{
  color:#42445A;
}
@media(max-width:900px){
  #ladding-page{
   height:100vh;
   margin:50px 0px 100px 0px;
  }
  .flex{
    text-align:center;
    height:100vh;
  }
  .introdução article{
  top:70px;
  left:40px;
}
.introdução article h1{
  font-size:4rem;
}
.introdução article p{
  font-size:1.6rem;
}
.introdução article .btn_contato{
  position:relative;
  left:70px;
  top:50px;
  font-size:1.4rem;
  margin-top:15px;
}
}
#contato{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:60px;
}
#contato > div > div{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100px;
  height:100px;
  background:#12131B;
  border-radius:50%;
  margin:20px 0px;
}
#contato > div{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin:20px 0px;
}
.emoji > img{
  color:#fff;
  width:50px;
  margin-bottom:0px 0px;
}
#contato > div >  h4{
  font-size:2rem;
  font-weight:bold;
  margin:10px 0px;
}
#contato  p{
  font-size:1.3rem;
}
#projetos{
  margin-top:350px;
  height:100%;
}
.container{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0px 20px;
  gap:40px;
  flex-wrap:wrap;
}
.container > .items{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  flex:0 0 300px;
  width:60%;
  height:300px;
  background:#12131B;
  padding:10px;
}
.quadro{
  display:block;
  width:90%;
  height:200px;
  background:black;
  margin-top:20px;
}
.items h4{
  font-size:1.5rem;
  margin:10px 0px;
  margin:20px 0px;
}
.items p{
  font-size:1rem;
  color:#3D3F52;
}
/*Serviços*/
#serviços{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px;
  margin:100px 30px 0px 30px;
}
#serviços > div{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  background:#1214268F;
  flex:1 1 200px;
  width:200px;
  height:200px;
  border-bottom:solid 4.5px #151F8DC2;
  border-radius:10px;
}
.serviço-img{
  width:60px;
}
#serviços > div > h5{
  font-size:1.2rem;
  font-weight:400;
  color:#fff;
}
#serviços > div:hover{
  background:#22232F;
  border-color:transparent;
}
/*Rodape do portifolio*/
footer{
  display:flex;
  justify-content:center;
  font-weight:400;
  align-items:center;
  height:40px;
  width:100%;
  background:#22232FB5;
  font-size:.9rem;
  color:#A3A5BBA1;
  margin-top:100px;
}